body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;

}

form {
    max-width: 400px;
    margin: auto;
    background:#fff;
    padding: 20px;
    border-radius:px 8px;
    -webkit-border-radius:px 8px;
    -moz-border-radius:px 8px;
    -ms-border-radius:px 8px;
    -o-border-radius:px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;

}
input, textarea, button {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border:1px solid #ccc;
    font-size: 1em;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: #218838;
}
